body {
  background-color: lightgray;
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #72528c;
}

li {
  float: left;
  padding-left: 150px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: #cfb0e8;
  color: #def9f7;
}
h1 {
  text-align: center;
  color: teal;
  font-size: 45px;
}
h2 {
  font-size: 30px;
  text-align: center;
}
p {
  text-align: center;
}
span {
  font-weight: bold;
}
.founders {
  text-align: center;
  color: #1a826d;
  font-style: italic;
}
.column {
  float: left;
  width: 30%;
  padding: 6px;
  margin: 10px;
  text-align: center;
}
.column h2 {
  color: #1a826d;
  font-style: italic;
}
.adopt {
  border: 2px solid red;
  background-color: #909393;
}
.fees {
    margin-top: 650px;
    padding-top: 200px;
}
.mouse {
  font-style: italic;
  margin-top: 300px;
}

